<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-xs-12">
    <div class="list-group">
      @for (recipe of recipes; track recipe.name) {
        <a href="#" class="list-group-item d-flex justify-content-between">
          <div class="me-auto">
            <h4 class="mb-1">{{ recipe.name }}</h4>
            <p class="mb-1">{{ recipe.description }}</p>
          </div>
          <span>
            <img
              src="{{ recipe.imagePath }}"
              alt="{{ recipe.name }}"
              class="img-responsive"
              style="max-height: 50px" />
          </span>
        </a>
      }
    </div>
    <app-recipe-item />
  </div>
</div>
